/*
Theme Name: Sullivans Pharmacy Theme
Theme URI: http://smallbusiness-wp-theme.com
Author: Mitch Ray & Tyler Renfro
Description: Base Theme for Small Businesses
Version: 0.1;
*/
.admin-bar-fix + .nav-background {
  margin-top: 32px;
}
.logo {
  padding: 15px 0;
}
.logo img {
  max-width: 150px;
}
.nav-background {
  background-color: #ffffff;
  background-blend-mode: screen;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 500;
  -webkit-transform: translateZ(0);
  border-bottom: 3px solid #eceff1;
  border-top: 4px solid #059587;
}
ul#menu-main-menu {
  padding: 10px 0;
}
ul#menu-main-menu li {
  display: inline;
  list-style: none;
}
ul#menu-main-menu a {
  font-size: 18px;
  color: #292929;
  font-family: 'Source Sans Pro', sans-serif;
}
ul#menu-main-menu a:hover {
  color: #059587;
}
.current-menu-item a {
  color: #b32727 !important;
}
.naver-handle {
  border: none;
  color: #059587;
}
.naver-handle:after {
  background: #059587;
  box-shadow: 0 5px 0 #059587, 0 -5px 0 #059587;
}
.naver.open .naver-handle:after {
  color: #059587;
}
.location-main-menu .menu {
  padding: 5px 0;
  margin: 0;
}
.location-main-menu .current-menu-item a {
  color: #292929 !important;
  transitin: .3s;
}
.location-main-menu .current-menu-item a:hover {
  color: #059587 !important;
  transition: .4s;
}
.location-main-menu li {
  display: inline-block;
  padding-right: 1.563em;
}
.location-main-menu li a {
  color: #292929;
  transition: .4s;
  font-size: 0.8em;
}
.sub-nav-wrapper {
  background: #eceff1;
}
.hero-home {
  max-width: 100%;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.page-template-locations .hero-home {
  background-position: top center;
  background-repeat: no-repeat;
}
.page-template-contact-page .hero-home {
  background-position: top center;
  background-repeat: no-repeat;
}
.hero-about {
  max-width: 100%;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.ui.segment.about-section {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
  background-repeat: no-repeat;
}
.ui.segment.about-section * {
  color: #ffffff;
}
.hero-solid-primary {
  background: #059587;
  color: #ffffff;
}
.hero-solid-secondary {
  background: #b32727;
  color: #ffffff;
}
.hero-lg {
  height: auto;
  padding: 270px 0 80px 0;
  color: #ffffff;
}
.hero-md {
  height: auto;
  padding: 120px 0;
  color: #ffffff;
}
.hero-sm {
  height: auto;
  padding: 80px 0;
  color: #ffffff;
}
.hero-cta {
  line-height: 110%;
}
a.find-a-store-btn.ui.button {
  width: 200px;
  background-color: transparent;
  border: solid 3px #059587;
  color: #ffffff;
  transition: 0.3s ease-out;
}
a.find-a-store-btn.ui.button:hover {
  background: #059587;
  transition: 0.3s ease-in;
}
body {
  background: #ffffff;
}
section {
  padding: 60px 0;
}
.service-section-header {
  text-align: center;
}
.featured-service-title {
  color: #059587;
  font-weight: normal;
  padding-top: 50px;
}
.services-cta {
  color: #b32727;
  transition: 0.3s ease-out;
}
.services-cta:hover {
  color: #5f1515;
  transition: 0.3s ease-in;
  padding-bottom: 3px;
}
.service-name {
  color: #6b6f6b;
}
.service-icon {
  color: #6b6f6b;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
.ui.segment .location-image {
  max-width: 100%;
}
.store-location-name {
  margin-right: 15px;
}
.store-location-number {
  font-weight: 400;
}
.location-page-wrapper .ui.segment {
  margin-bottom: 30px;
}
.location-page-wrapper ul li {
  font-size: 0.8em;
}
.location-page-wrapper .location-name-direction li.store-location-name {
  width: 41%;
  text-align: left;
}
.location-page-wrapper .location-name-direction li {
  width: 25%;
  text-align: right;
}
.address-location-wrapper .ui.location {
  transition: 0.3s ease-out;
}
.address-location-wrapper .ui.location:hover {
  color: #03645a;
  transition: 0.3s ease-in;
}
.location-anchor-wrapper:before {
  display: block;
  content: " ";
  padding-top: 150px;
  margin-top: -150px;
  visibility: hidden !important;
  z-index: -1;
}
.location-anchor-wrapper {
  z-index: -1;
}
.location-detail-panel,
.featured-services-wrapper {
  z-index: 99;
}
a.location-card-green-link {
  color: #059587;
}
.red.button.featured-service-button {
  margin-top: 18px;
}
.red.button.featured-service-button i {
  margin-right: 10px;
}
.contact-location-name {
  width: 120px;
  margin-bottom: 10px;
}
.about-section-header {
  font-weight: 700;
}
.location-image {
  width: 100%;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  width: 100%;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.2142em;
  font-family: 'Source Sans Pro', sans-serif;
  padding: .67861em 1em;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.8);
  border-radius: .2857rem;
  -webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  box-shadow: none;
}
.wpcf7 input[type="text"]:active,
.wpcf7 input[type="email"]:active,
.wpcf7 textarea:active {
  border-color: rgba(0, 0, 0, 0.3);
  background: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="email"]:focus,
.wpcf7 textarea:focus {
  border-color: #059587;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"] {
  height: 40px;
}
.wpcf7 textarea {
  height: 140px;
}
.wpcf7-not-valid {
  border: 1px solid #b32727 !important;
  background-color: #F2D7D7 !important;
}
div.wpcf7-mail-sent-ok {
  color: white;
  background: #059587;
  border: 0;
  border-radius: 12px;
  padding: 15px;
  font-size: 1.3rem;
  margin: 0;
}
div.wpcf7-validation-errors {
  color: white;
  background: #b32727;
  border: 0;
  border-radius: 12px;
  padding: 15px;
  font-size: 1.3rem;
  margin: 0;
}
select.ui.dropdown {
  height: 40px;
}
.footer-wrapper {
  background: #eceff1;
  padding: 60px 0;
}
.footer-wrapper * {
  color: #37474f;
}
.footer-wrapper hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #37474f;
}
.footer-wrapper li {
  height: 1em;
}
.footer-wrapper a {
  display: block;
}
.footer-wrapper .footer-location-list li {
  width: 49.5%;
}
.footer-wrapper a:hover {
  color: #03645a;
}
@media (max-width: 768px) {
  .hero-sm {
    height: auto;
    padding: 40px 0;
  }
  .center-xs {
    text-align: center;
  }
  .page-template-home .hero-home {
    background-image: url(images/store-exterior-mobile.jpg);
    background-size: 100vw;
  }
  .hero-about {
    background-image: url(images/store-interior-carlinville-mobile.jpg);
    background-size: 100vw;
    background-position: top center;
    background-attachment: scroll;
  }
  .ui.segment.about-section {
    background-image: url(images/store-interior-carlinville-mobile.jpg);
    background-size: 100vw;
  }
  .page-template-locations .hero-home {
    background-image: url(images/store-drive-thru-mobile.jpg);
    background-size: 100vw;
  }
  .page-template-contact-page .hero-home {
    background-image: url(images/store-gifts-mobile.jpg);
    background-positon: top center;
    background-size: 100vw;
  }
  .nav-background {
    border-bottom: none;
  }
  .mobile-logo {
    max-width: 50%;
  }
  .hero-lg {
    height: auto;
    padding: 80px 0 40px 0;
  }
  .naver ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  .naver a {
    display: block;
    padding: 20px 0;
    font-size: 1.3em;
    border-bottom: 1px solid #d2d4d2;
  }
  .featured-service-title {
    font-size: 1.563em;
    padding-top: 0;
  }
  .app-store-img {
    max-width: 65%;
  }
  .featured-services-wrapper img {
    width: 50%;
  }
  .featured-service-button.red.button {
    width: 100%;
  }
  .location-page-wrapper {
    padding: 30px 0;
  }
  .location-page-wrapper ul li {
    font-size: 1.25em;
  }
  .location-featured-service-title {
    text-align: center;
  }
  .featured-service-repeater-title {
    font-size: 0.8em;
  }
  .featured-service-repeater-title i {
    display: none;
  }
  a.featured-service-button.red.button {
    padding: 10px 5px;
  }
  .footer-wrapper p,
  .footer-wrapper a {
    font-size: 1em;
  }
  .footer-wrapper a {
    display: block;
    padding-bottom: 1em !important;
  }
  .footer-header {
    font-size: 1.563em;
  }
  .footer-wrapper img {
    padding-top: 1.953em;
  }
}
@media (min-width: 768px) {
  .set-min-height {
    min-height: 290px;
  }
  .hero-home {
    background-image: url(images/store-exterior.jpg);
  }
  .hero-about {
    background-image: url(images/store-interior-carlinville.jpg);
  }
  .page-template-contact-page .hero-home {
    background-image: url(images/store-gifts.jpg);
  }
  .ui.segment.about-section {
    background-image: url(images/store-interior-carlinville.jpg);
  }
  .page-template-locations .hero-home {
    background-image: url(images/store-drive-thru.jpg);
  }
  .footer-wrapper p,
  .footer-wrapper a {
    font-size: 0.8em;
  }
  .footer-wrapper a {
    padding-bottom: 0.8em;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero-lg {
    height: auto;
    padding: 80px 0;
  }
}
@media (min-width: 1200px) {
  .set-min-height {
    min-height: 355px;
  }
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  line-height: 105%;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 105%;
}
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 105%;
}
h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 105%;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 140%;
}
label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  line-height: 120%;
}
div._1op8 {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.563em !important;
}
.inner_wrap textarea {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.25em !important;
}
.mts._5tzv,
.fsm.fwn ._42ft {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.25em !important;
}
@media (max-width: 768px) {
  /*Mobile typeface sizes*/
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 1.953em;
  }
  h2 {
    font-size: 1.563em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.25em;
  }
  p {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  /*Tablet typeface sizes*/
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  p {
    font-size: 1em;
  }
}
@media (min-width: 992px) {
  /*Desktop typeface sizes*/
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  p {
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  /*Large Desktop typeface sizes*/
  body {
    font-size: 22px;
  }
  h1 {
    font-size: 2.441em;
  }
  h2 {
    font-size: 1.953em;
  }
  h3 {
    font-size: 1.563em;
  }
  h4 {
    font-size: 1.25em;
  }
  p {
    font-size: 1em;
  }
}
.notop {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.nobottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.bump-all-xs {
  margin: 1em;
}
.bump-all-sm {
  margin: 1.25em;
}
.bump-all-md {
  margin: 1.563em;
}
.bump-all-lg {
  margin: 1.953em;
}
.bump-all-xl {
  margin: 2.441em;
}
.bump-all {
  margin: 20px;
}
.bump-top-bottom-xs {
  margin: 1em 0;
}
.bump-top-bottom-sm {
  margin: 1.25em 0;
}
.bump-top-bottom-md {
  margin: 1.563em 0;
}
.bump-top-bottom-lg {
  margin: 1.953em 0;
}
.bump-top-bottom-xl {
  margin: 2.441em 0;
}
.bump-left-right-xs {
  margin: 0 1em;
}
.bump-left-right-sm {
  margin: 0 1.25em;
}
.bump-left-right-md {
  margin: 0 1.563em;
}
.bump-left-right-lg {
  margin: 0 1.953em;
}
.bump-left-right-xl {
  margin: 0 2.441em;
}
.bump-top-xs {
  margin-top: 1em;
}
.bump-top-sm {
  margin-top: 1.25em;
}
.bump-top-md {
  margin-top: 1.563em;
}
.bump-top-lg {
  margin-top: 1.953em;
}
.bump-top-xl {
  margin-top: 2.441em;
}
.bump-right-xs {
  margin-right: 1em;
}
.bump-right-sm {
  margin-right: 1.25em;
}
.bump-right-md {
  margin-right: 1.563em;
}
.bump-right-lg {
  margin-right: 1.953em;
}
.bump-right-xl {
  margin-right: 2.441em;
}
.bump-bottom-xs {
  margin-bottom: 1em;
}
.bump-bottom-sm {
  margin-bottom: 1.25em;
}
.bump-bottom-md {
  margin-bottom: 1.563em;
}
.bump-bottom-lg {
  margin-bottom: 1.953em;
}
.bump-bottom-xl {
  margin-bottom: 2.441em;
}
.bump-left-xs {
  margin-left: 1em;
}
.bump-left-sm {
  margin-left: 1.25em;
}
.bump-left-md {
  margin-left: 1.563em;
}
.bump-left-lg {
  margin-left: 1.953em;
}
.bump-left-xl {
  margin-left: 2.441em;
}
.nudge-all-xs {
  padding: 1em;
}
.nudge-all-sm {
  padding: 1.25em;
}
.nudge-all-md {
  padding: 1.563em;
}
.nudge-all-lg {
  padding: 1.953em;
}
.nudge-all-xl {
  padding: 2.441em;
}
.nudge-top-bottom-xs {
  padding: 1em 0;
}
.nudge-top-bottom-sm {
  padding: 1.25em 0;
}
.nudge-top-bottom-md {
  padding: 1.563em 0;
}
.nudge-top-bottom-lg {
  padding: 1.953em 0;
}
.nudge-top-bottom-xl {
  padding: 2.441em 0;
}
.nudge-left-right-xs {
  padding: 0 1em;
}
.nudge-left-right-sm {
  padding: 0 1.25em;
}
.nudge-left-right-md {
  padding: 0 1.563em;
}
.nudge-left-right-lg {
  padding: 0 1.953em;
}
.nudge-left-right-xl {
  padding: 0 2.441em;
}
.nudge-top-xs {
  padding-top: 1em;
}
.nudge-top-sm {
  padding-top: 1.25em;
}
.nudge-top-md {
  padding-top: 1.563em;
}
.nudge-top-lg {
  padding-top: 1.953em;
}
.nudge-top-xl {
  padding-top: 2.441em;
}
.nudge-right-xs {
  padding-right: 1em;
}
.nudge-right-sm {
  padding-right: 1.25em;
}
.nudge-right-md {
  padding-right: 1.563em;
}
.nudge-right-lg {
  padding-right: 1.953em;
}
.nudge-right-xl {
  padding-right: 2.441em;
}
.nudge-bottom-xs {
  padding-bottom: 1em;
}
.nudge-bottom-sm {
  padding-bottom: 1.25em;
}
.nudge-bottom-md {
  padding-bottom: 1.563em;
}
.nudge-bottom-lg {
  padding-bottom: 1.953em;
}
.nudge-bottom-xl {
  padding-bottom: 2.441em;
}
.nudge-left-xs {
  padding-left: 1em;
}
.nudge-left-sm {
  padding-left: 1.25em;
}
.nudge-left-md {
  padding-left: 1.563em;
}
.nudge-left-lg {
  padding-left: 1.953em;
}
.nudge-left-xl {
  padding-left: 2.441em;
}
.pull-left {
  text-align: left;
}
.pull-right {
  text-align: right;
}
.center {
  text-align: center;
}
.inline {
  display: inline;
}
.img-bump {
  margin-top: 20px;
}
.img-center {
  margin: 0 auto;
  display: block;
}
.card-block {
  width: 100% !important;
  display: block;
}
.xxs-text {
  font-size: 0.8em;
}
.xs-text {
  font-size: 1em;
}
.sm-text {
  font-size: 1.25em;
}
.md-text {
  font-size: 1.563em;
}
.lg-text {
  font-size: 1.953em;
}
.xl-text {
  font-size: 2.441em;
}
address {
  font-size: 1em;
  font-style: initial;
}
.inverted-text {
  color: #ffffff !important;
}
.inverted-link a {
  color: #b32727;
}
.inverted-link a:hover {
  color: #891e1e;
}
.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-inline li {
  display: inline-block;
}
.primary-text {
  color: #059587 !important;
}
.secondary-text {
  color: #b32727 !important;
}
.small {
  font-size: 0.8em;
}
.date {
  color: #9ea29e;
}
.lead {
  font-size: 1.25em;
}
::selection {
  background-color: #059587;
  color: #ffffff;
}
::-moz-selection {
  background-color: #059587;
  color: #ffffff;
}
a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #b32727;
  transition: 0.2s linear;
}
a:hover {
  color: #891e1e;
  transition: 0.2s linear;
}
a:focus {
  outline: 0;
}
a .inverse {
  color: #b32727;
  transition: 0.2s linear;
}
a .inverse:hover {
  color: #891e1e;
  transition: 0.2s linear;
}
.ui.red.button {
  background-color: #b32727;
  color: #ffffff;
  transition: .2s linear;
}
.ui.red.button:hover {
  background-color: #891e1e;
  color: #ffffff;
  transition: .2s linear;
}
.ui.inverted.red.button {
  background-color: transparent;
  box-shadow: 0 0 0 2px #b32727 inset !important;
  color: #b32727;
  transition: .2s linear;
}
.ui.inverted.red.button:hover {
  background-color: #b32727;
  box-shadow: 0 0 0 2px #b32727 inset !important;
  color: #ffffff;
  transition: .2s linear;
}
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}
.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.warning-text {
  color: #b32727;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
