$base_color: #efefef;
$icon_color: #4c4c4c;
$highlight_color: #059587;
$notification_color: #dd3333;
$text_color: #333333;
$body_background: #ecf0f1;
$menu_background: #ffffff;
$menu_highlight_text: #ffffff;
$menu_highlight_icon: #ffffff;
$menu_submenu_background: #ececec;


@import 'colors.css';
@import '_admin.scss';
