//interaction components

// interactions
a {
	font-family: @headline-typeface;
	color: @link-inverse;
	transition: @transition;
	&:hover {
		color: @link-inverse-hover;
		transition: @transition;
	}

	&:focus {
		outline: 0;
	}

	.inverse {
		color: @link-inverse;
		transition: @transition;
		&:hover {
			color: @link-inverse-hover;
			transition: @transition;
		}
	}
}

.ui.red.button {
	background-color: @brand-secondary;
	color: @white;
	transition: .2s linear;
	&:hover {
		background-color: @link-inverse-hover;
		color: @white;
		transition: .2s linear;
	}
}

.ui.inverted.red.button {
	background-color: transparent;
	box-shadow: 0 0 0 2px @brand-secondary inset!important;
	color: @brand-secondary;
	transition: .2s linear;
	&:hover {
		background-color: @brand-secondary;
		box-shadow: 0 0 0 2px @brand-secondary inset!important;
		color: @white;
		transition: .2s linear;
	}
}
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

// warning-text 
.warning-text {
	color: @brand-secondary
}
