//footer styling
.footer-wrapper {
	background: @cool-gray;	
	padding: 60px 0;
	
	* {
		color: @cool-gray-dark;
	} // * 

	hr {
		margin-top: 10px;
		margin-bottom: 10px;
		border-color: @cool-gray-dark;		
	}

	.footer-header {

	} // .footer-header

	li {
		height: @xs-size;
	} // li

	a {
		display: block;
	}

	.footer-location-list {
		li {
			width: 49.5%;

		}
		
	} // .footer-location-list

	a {
		&:hover {
			color: @link-hover;

		}
	}
} // footer-wrapper
