//contact 7 form styling

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
	width: 100%;
	margin: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	outline: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	text-align: left;
	line-height: 1.2142em;
	font-family: @body-typeface;
	padding: .67861em 1em;
	background: #fff;
	border: 1px solid rgba(0,0,0,.15);
	color: rgba(0,0,0,.8);
	border-radius: .2857rem;
	-webkit-transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
	transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
	box-shadow: none;
	&:active {
		border-color: rgba(0, 0, 0, 0.3);
		background: #fafafa;
		color: rgba(0, 0, 0, 0.8);
		box-shadow: none;
	}
	&:focus {
		border-color: @brand-primary;
		color: rgba(0, 0, 0, 0.8);
		box-shadow: none;
	}
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"]
{
	height: 40px;
}

.wpcf7 textarea {
	height: 140px;
}

.wpcf7-not-valid {
	border: 1px solid @brand-secondary !important;
	background-color: #F2D7D7 !important;
}

div.wpcf7-mail-sent-ok {
	color: white;
	background: @brand-primary;
	border: 0;
	border-radius: 12px;
	padding:15px;
	font-size: 1.3rem;
	margin: 0;
}

div.wpcf7-validation-errors {
	color: white;
	background: @brand-secondary;
	border: 0;
	border-radius: 12px;
	padding:15px;
	font-size: 1.3rem;
	margin: 0;
}

select.ui.dropdown {
	height: 40px;
}

// form {
// 	select[name="location"] {
// 		width: 100%;
// 		height: 40px;
// 	} // select[name="location"] 

// 	input[type="submit"] {
// 		background-color: transparent;
// 		box-shadow: 0 0 0 2px @brand-secondary inset!important;
// 		color: @brand-secondary;
// 		border-radius: 4px;
// 		border: none;
// 		padding: 15px 25px;
// 		font-size: @xs-size;
// 		transition: .2s linear;
// 		&:hover {
// 			background-color: @brand-secondary;
// 			box-shadow: 0 0 0 2px @brand-secondary inset!important;
// 			color: @white;
// 			transition: .2s linear;
// 		}

// 	} // .wpcf7-form-control
// } // form