//================================================
// brand typography
//================================================
@headline-typeface:'Source Sans Pro', sans-serif;
@body-typeface:'Source Sans Pro', sans-serif;

//================================================
// brand colors
//================================================
@brand-primary:   #059587;
@brand-secondary: #b32727;

//================================================
// body color & section padding
//================================================
@body: lighten(@white,3%);
@section-padding: 60px 0;

//================================================
// typography size
//================================================
@mobile-body: 14px;
@tablet-body: 16px;
@desktop-body: 18px;
@lg-desktop-body: 22px;
