//header styling

//admin-bar fix
.admin-bar-fix + .nav-background {
	margin-top: 32px;
} 

//logo styling
.logo {
	padding: 15px 0;

	img {
		max-width: 150px;
	}
}

.nav-background {
	background-color: @white;
	background-blend-mode: screen;
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 500;
	-webkit-transform: translateZ(0);
	border-bottom: 3px solid @cool-gray;
	border-top: 4px solid @brand-primary;
}

//main menu styling

ul#menu-main-menu {
	padding: 10px 0;
}
ul#menu-main-menu li {
	display: inline;
	list-style: none;
}
ul#menu-main-menu a {
	font-size: 18px;
	color: @black;
	font-family: @headline-typeface;

}
ul#menu-main-menu a:hover {
	color: @brand-primary;
}

//current menu item styling
.current-menu-item a {
	color: @brand-secondary !important;
}

.naver-handle {
	border:none;
	color: @brand-primary;
	&:after {
		background: @brand-primary;
		box-shadow: 0 5px 0 @brand-primary,0 -5px 0 @brand-primary;
	}
}

.naver.open {
	.naver-handle {

		&:after {
			color: @brand-primary;
		}
	}
}

.location-main-menu {
	.menu {		
		padding: 5px 0;
		margin: 0;
	}

	.current-menu-item a {
		color: @black !important;
		transitin: .3s;

			&:hover {
				color: @brand-primary !important;
				transition: .4s;				
			}
	}

	li {
		display: inline-block;
		padding-right: @md-size;	

		a {
			color: @black;
			transition: .4s;
			font-size: @xxs-size;

		}
	}
}
.sub-nav-wrapper {
	background: @cool-gray;	
}