//hero styling

.hero-home {	
	max-width: 100%;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.page-template-locations {
	.hero-home {		
		background-position: top center;
		background-repeat: no-repeat;
	} // .hero-home
} // .page-template-locations-page 

.page-template-contact-page {
	.hero-home {		
		background-position: top center;
		background-repeat: no-repeat;
	} // .hero-home
} // .page-template-contact-page

.hero-about {	
	max-width: 100%;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.ui.segment.about-section {	
	max-width: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 100px 0;
	background-repeat: no-repeat;

	* {
		color: @white;
	} // *
} // .ui.segment.about-section 

.hero-solid-primary {
	background: @brand-primary;
	color: @white;
}

.hero-solid-secondary {
	background: @brand-secondary;
	color: @white;
}

.hero-lg {
	height: auto;
	padding: 270px 0 80px 0;
	color: @white;
}

.hero-md {
	height: auto;
	padding: 120px 0;
	color: @white;
}

.hero-sm {
	height: auto;
	padding: 80px 0;
	color: @white;
}

.hero-cta {
	line-height: 110%;
}

a.find-a-store-btn.ui.button {	
	width: 200px;	
	background-color: transparent;
	border: solid 3px @brand-primary;
	color: @white;
	transition: .3s ease-out;

	&:hover {
		background: @brand-primary;
		transition: .3s ease-in;
	} // &:hover
} // .find-a-store-btn