//responsive styling

//mobile-only styles
@media (max-width: 768px) {
	//====================================
	// Globals
	//====================================
	.hero-sm {
		height: auto;
		padding: 40px 0;
	} // .hero-sm

	.center-xs {
		text-align: center;
	} // .center-xs

	
	.page-template-home {
		.hero-home {
			background-image: url(./images/store-exterior-mobile.jpg);
			background-size: 100vw;
		}
	}	
	.hero-about {
		background-image: url(./images/store-interior-carlinville-mobile.jpg);
		background-size: 100vw;
		background-position: top center;
		background-attachment: scroll;		
	}
	.ui.segment.about-section {
		background-image: url(./images/store-interior-carlinville-mobile.jpg);
		background-size: 100vw;		
	}
	.page-template-locations {
		.hero-home {
			background-image: url(./images/store-drive-thru-mobile.jpg);
			background-size: 100vw;
		}
	}
	.page-template-contact-page .hero-home {
		background-image: url(./images/store-gifts-mobile.jpg);
		background-positon: top center;
		background-size: 100vw;
	}
	//====================================
	// Navigation
	//====================================
	.nav-background {
		border-bottom: none;
	}

	.mobile-logo {
		max-width: 50%;
	} // .mobile-logo	
	
	.hero-lg {
		height: auto;
		padding: 80px 0 40px 0;
	} // .hero-lg	

	.naver {
		ul {
			list-style: none;
			padding-left: 0;
			margin:0;
		}// ul
		
		a {
			display:block;
			padding:20px 0;
			font-size: 1.3em;
			border-bottom: 1px solid @gray;
		} // a
	} // .naver

	//====================================
	// Services SEction
	//====================================
	.featured-service-title {
		font-size: @md-size;
		padding-top: 0;
	} // .featured-service-title

	.app-store-img {
		max-width: 65%;
	} // .app-store-img 

	.featured-services-wrapper {		
		img {
			width: 50%;
		}
	}

	.featured-service-button.red.button {
		width: 100%;
	}
	//====================================
	// Locations SEction
	//====================================
	.location-page-wrapper {
		padding: 30px 0;

		ul {
			li {
				font-size: @sm-size;
			} // li 
		} // ul
	} // .location-page-wrapper
	.location-featured-service-title {
		text-align: center;
	}
	.featured-service-repeater-title {
		font-size: @xxs-size;

		i {
			display: none;
		}
	}
	a.featured-service-button.red.button {		
		padding: 10px 5px;
	}
	//======================
	//Footer Styles
	//======================
	.footer-wrapper p,
	.footer-wrapper a {
		font-size: @xs-size;
	} // .footer-wrapper p .footer-wrapper a

	.footer-wrapper a {
		display: block;
		padding-bottom: @xs-size !important;				
	}
	
	.footer-header {
		font-size: @md-size;
	} // .footer-header

	.footer-wrapper {
		img {
			padding-top: @lg-size;
		}
	}
} // @media (max-width: 768px)

//for tablet sizes
@media (min-width: 768px) {	
	//====================================
	// Globals
	//====================================
	.set-min-height {
		min-height: 290px;
	} // .set-min-height
	.hero-home {
		background-image: url(./images/store-exterior.jpg);
	}
	.hero-about {
		background-image: url(./images/store-interior-carlinville.jpg);
	}
	.page-template-contact-page {
		.hero-home {
			background-image: url(./images/store-gifts.jpg);
		}
	}
	.ui.segment.about-section {
		background-image: url(./images/store-interior-carlinville.jpg);
	}
	.page-template-locations {
		.hero-home {
			background-image: url(./images/store-drive-thru.jpg);
		}
	}
	//====================================
	// Footer
	//====================================
	.footer-wrapper {
		p,a {
			font-size: @xxs-size;
		}
		a {
			padding-bottom: @xxs-size;
		}		
	}
	//for nothing bigger than tablet
	@media (max-width: 992px) {
		//====================================
		// Hero Section
		//====================================
		.hero-lg {
			height: auto;
			padding: 80px 0;
		} // .hero-lg 
	} // @media (max-width: 992px) 
} // @media (min-width: 768px) 

//For desktop (large) sizes
@media(min-width:1200px){
	.set-min-height {
		min-height: 355px;
	} // .set-min-height
} // @media(min-width:1200px)