//==================================
// body
//==================================
body {
	background: @body;
}

//==================================
// section
//==================================
section {
	padding: @section-padding;
} // section
//==================================
//Services Section
//==================================
.service-section-header {
	text-align: center;
} // .service-section-header

.featured-service-title {
	color: @brand-primary;
	font-weight: normal;
	padding-top: 50px;
} // .featured-service-title

.services-cta {
	color: @brand-secondary;
	transition: .3s ease-out;

	&:hover {
		color: darken(@brand-secondary, 20%);
		transition: .3s ease-in;
		padding-bottom: 3px;
	}
} // .services-cta

.service-name {
	color: @gray-darker;
}

.service-icon {
	color: @gray-darker;
	font-family: @headline-typeface;
	font-weight: @bold;
}

//==================================
//Locations Section
//==================================
.ui.segment {
	.location-image {
		max-width: 100%;
	} // .location-image
} // .panel

.store-location-name {
	margin-right: 15px
} // .store-location-name

.store-location-number {
	font-weight: @regular;
} // .store-location-number

.location-page-wrapper {
	.ui.segment {
		margin-bottom: 30px;
	} // .ui.segment

	ul {
		li {
			font-size: @xxs-size;
		} // li 
	} // ul

	.location-name-direction {		
		
		li.store-location-name {
			width: 41%;
			text-align: left;
		}

		li {
			width: 25%;
			text-align:right;
		} // li
	} // .location-name-direction 
} // .location-section-wrapper

.address-location-wrapper {
	.ui.location {
		transition: .3s ease-out;	

		&:hover {
			color: darken(@brand-primary, 10%);
			transition: .3s ease-in;
		} // &:hover
	} // .ui.location 
} // .address-location-wrapper
.location-anchor-wrapper:before {
		display: block;
		content: " "; 
   		padding-top: 150px;
        margin-top: -150px; 	
        visibility: hidden !important;
        z-index: -1;
} // .location-panel

.location-anchor-wrapper{
	z-index: -1;
}

.location-detail-panel,
.featured-services-wrapper {
	z-index: 99;
}



a.location-card-green-link {
	color: @brand-primary;	
}

.red.button.featured-service-button {	
	margin-top: 18px;

	i {
		margin-right: 10px;
	}
}

//==================================
//Contact Section
//==================================
.contact-location-name {
	width: 120px;

	& {
		margin-bottom: 10px;
	} // &
} // .contact-location-name



//==================================
//About Section
//==================================

.about-section-header {
	font-weight: @bold;
}

.location-image{
	width: 100%;
}