//==================================
// set base typogprahy
//==================================

body {
	font-family:@body-typeface;
}

h1 {
	font-family:@body-typeface;
	font-weight: @bold;
	line-height: 105%;
}

h2 {
	font-family:@headline-typeface;
	font-weight: @regular;
	line-height: 105%;
}
h3 {
	font-family:@headline-typeface;
	font-weight: @regular;
	line-height: 105%;
}

h4 {
	font-family:@headline-typeface;	
	font-weight: @regular;
	line-height: 105%;
}

p {
	font-family:@body-typeface;
	font-weight: @regular;
	line-height: 140%;	
}

label {
	font-family:@headline-typeface;
	font-weight: bold;
	line-height: 120%;	
}

//------facebook panel======
div._1op8 {
	font-family: @headline-typeface !important;
	font-size: @md-size !important;
}
.inner_wrap {
	textarea {
		font-family: @headline-typeface !important;
		font-size: @sm-size !important;
	}
}

.mts._5tzv,
.fsm.fwn
._42ft {
	font-family: @headline-typeface !important;
	font-size: @sm-size !important;
}
//==================================
// responsive typography
//==================================

//mobile-only styles
@media (max-width: 768px) {
	/*Mobile typeface sizes*/
	body {
		font-size: @mobile-body;
	}

	h1 {
		font-size: @lg-size;		
	}

	h2 {
		font-size: @md-size;		
	}
	h3 {
		font-size: @sm-size;		
	}
	h4 {
		font-size: @sm-size;	
	}
	p {
		font-size: @xs-size;		
	}
}

//for tablet sizes
@media (min-width: 768px) {
	/*Tablet typeface sizes*/
	body {
		font-size: @tablet-body;
	}	
	h1 {
		font-size: @xl-size;		
	}

	h2 {
		font-size: @lg-size;		
	}
	h3 {
		font-size: @md-size;		
	}
	h4 {
		font-size: @sm-size;			
	}
	p {
		font-size: @xs-size;		
	}
	//for nothing bigger than tablet
	@media (max-width: 992px) {

	}
}

//for desktop (medium) sizes
@media(min-width:992px){
	/*Desktop typeface sizes*/
	body {
		font-size: @desktop-body;
	}	
	h1 {
		font-size: @xl-size;		
	}

	h2 {
		font-size: @lg-size;		
	}
	h3 {
		font-size: @md-size;		
	}
	h4 {
		font-size: @sm-size;				
	}
	p {
		font-size: @xs-size;		
	}

	//for nothing bigger than desktop (medium)
	@media (max-width: 1200px) {

	}
}

//For desktop (large) sizes
@media(min-width:1200px){
	/*Large Desktop typeface sizes*/
	body {
		font-size: @lg-desktop-body;
	}	
	h1 {
		font-size: @xl-size;		
	}

	h2 {
		font-size: @lg-size;		
	}
	h3 {
		font-size: @md-size;		
	}
	h4 {
		font-size: @sm-size;		
	}
	p {
		font-size: @xs-size;		
	}
}