//==================================
// general helpers
//==================================

//content alignment
.notop {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.nobottom {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

//==================================
// bump all
//==================================
.bump-all-xs {
	margin: @xs-size;
}

.bump-all-sm {
	margin: @sm-size;
}

.bump-all-md {
	margin: @md-size;
}

.bump-all-lg {
	margin: @lg-size;
}

.bump-all-xl {
	margin: @xl-size;
}
.bump-all {
	margin: 20px
}

//==================================
// bump top bottom
//==================================
.bump-top-bottom-xs {
	margin: @xs-size 0;
}

.bump-top-bottom-sm {
	margin: @sm-size 0;
}

.bump-top-bottom-md {
	margin: @md-size 0;
}

.bump-top-bottom-lg {
	margin: @lg-size 0;
}

.bump-top-bottom-xl {
	margin: @xl-size 0;
}
//==================================
// bump left right
//==================================
.bump-left-right-xs {
	margin: 0 @xs-size;
}

.bump-left-right-sm {
	margin: 0 @sm-size;
}

.bump-left-right-md {
	margin: 0 @md-size;
}

.bump-left-right-lg {
	margin: 0 @lg-size;
}

.bump-left-right-xl {
	margin: 0 @xl-size;
}

//==================================
// bump top
//==================================
.bump-top-xs {
	margin-top: @xs-size;
}

.bump-top-sm {
	margin-top: @sm-size;
}

.bump-top-md {
	margin-top: @md-size;
}

.bump-top-lg {
	margin-top: @lg-size;
}

.bump-top-xl {
	margin-top: @xl-size;
}

//==================================
// bump right
//==================================
.bump-right-xs {
	margin-right: @xs-size;
}

.bump-right-sm {
	margin-right: @sm-size;
}

.bump-right-md {
	margin-right: @md-size;
}

.bump-right-lg {
	margin-right: @lg-size;
}

.bump-right-xl {
	margin-right: @xl-size;
}

//==================================
// bump bottom
//==================================
.bump-bottom-xs {
	margin-bottom: @xs-size;
}

.bump-bottom-sm {
	margin-bottom: @sm-size;
}

.bump-bottom-md {
	margin-bottom: @md-size;
}

.bump-bottom-lg {
	margin-bottom: @lg-size;
}

.bump-bottom-xl {
	margin-bottom: @xl-size;
}

//==================================
// bump left
//==================================
.bump-left-xs {
	margin-left: @xs-size;
}

.bump-left-sm {
	margin-left: @sm-size;
}

.bump-left-md {
	margin-left: @md-size;
}

.bump-left-lg {
	margin-left: @lg-size;
}

.bump-left-xl {
	margin-left: @xl-size;
}

//==================================
// nudge all
//==================================
.nudge-all-xs {
	padding: @xs-size;
}

.nudge-all-sm {
	padding: @sm-size;
}

.nudge-all-md {
	padding: @md-size;
}

.nudge-all-lg {
	padding: @lg-size;
}

.nudge-all-xl {
	padding: @xl-size;
}

//==================================
// nudge top bottom
//==================================
.nudge-top-bottom-xs {
	padding: @xs-size 0;
}

.nudge-top-bottom-sm {
	padding: @sm-size 0;
}

.nudge-top-bottom-md {
	padding: @md-size 0;
}

.nudge-top-bottom-lg {
	padding: @lg-size 0;
}

.nudge-top-bottom-xl {
	padding: @xl-size 0;
}

//==================================
// nudge left right
//==================================
.nudge-left-right-xs {
	padding: 0 @xs-size;
}

.nudge-left-right-sm {
	padding: 0 @sm-size;
}

.nudge-left-right-md {
	padding: 0 @md-size;
}

.nudge-left-right-lg {
	padding: 0 @lg-size;
}

.nudge-left-right-xl {
	padding: 0 @xl-size;
}

//==================================
// nudge top
//==================================
.nudge-top-xs {
	padding-top: @xs-size;
}

.nudge-top-sm {
	padding-top: @sm-size;
}

.nudge-top-md {
	padding-top: @md-size;
}

.nudge-top-lg {
	padding-top: @lg-size;
}

.nudge-top-xl {
	padding-top: @xl-size;
}

//==================================
// nudge right
//==================================
.nudge-right-xs {
	padding-right: @xs-size;
}

.nudge-right-sm {
	padding-right: @sm-size;
}

.nudge-right-md {
	padding-right: @md-size;
}

.nudge-right-lg {
	padding-right: @lg-size;
}

.nudge-right-xl {
	padding-right: @xl-size;
}

//==================================
// nudge bottom
//==================================
.nudge-bottom-xs {
	padding-bottom: @xs-size;
}

.nudge-bottom-sm {
	padding-bottom: @sm-size;
}

.nudge-bottom-md {
	padding-bottom: @md-size;
}

.nudge-bottom-lg {
	padding-bottom: @lg-size;
}

.nudge-bottom-xl {
	padding-bottom: @xl-size;
}

//==================================
// nudge left
//==================================
.nudge-left-xs {
	padding-left: @xs-size;
}

.nudge-left-sm {
	padding-left: @sm-size;
}

.nudge-left-md {
	padding-left: @md-size;
}

.nudge-left-lg {
	padding-left: @lg-size;
}

.nudge-left-xl {
	padding-left: @xl-size;
}

.pull-left {
	text-align: left;
}

.pull-right {
	text-align: right;
}

.center {
	text-align: center;
}

.inline {
	display: inline;
}

//image alignment
.img-bump {
	margin-top:20px;
}

.img-center {
	margin: 0 auto;
	display: block;
}

.card-block {
	width:100% !important;
	display:block;
}

//==================================
// typography helpers
//==================================

.xxs-text {
	font-size: @xxs-size;
}
.xs-text {
	font-size: @xs-size;
}
.sm-text {
	font-size: @sm-size;
}
.md-text {
	font-size: @md-size;
}
.lg-text {
	font-size: @lg-size;
}
.xl-text {
	font-size: @xl-size;
}

address {
	font-size: @xs-size;
	font-style: initial;
}

.inverted-text {
	color: @white !important;
}

.inverted-link{
	a {
		color: @link-inverse;
		&:hover {
			color: @link-inverse-hover;
		}
	}
}

.unstyled-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
} // .unstyled-list

.list-inline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		} // li
} // .list-inline

.primary-text {
	color: @brand-primary !important;
}

.secondary-text {
	color: @brand-secondary !important;
}

.small {
	font-size: @xxs-size;
}

.date {
	color: @gray-dark;
}

.lead {
	font-size: @sm-size;
}

//text selection
::selection {
	background-color: @brand-primary;
	color: @white;
}

::-moz-selection {
	background-color: @brand-primary;
	color: @white;
}

