//================================================
// General Sizes
//================================================
@xl-size:   2.441em;
@lg-size:   1.953em;
@md-size:   1.563em;
@sm-size:   1.25em;
@xs-size:   1em;
@xxs-size:  .8em;

//================================================
// Typography Weights
//================================================
@hairline:  200;
@light:     300;
@regular:   400;
@semi-bold: 500;
@bold:      700; 

//support colors
@white:	         #fff;
@black:	         #292929;
@gray-darker:    darken(@gray, 40%);
@gray-dark:      darken(@gray, 20%);
@gray:           #d2d4d2;
@gray-light:     lighten(@gray, 20%);
@gray-lighter:   lighten(@gray, 30%);
@cool-gray:      #ECEFF1;
@cool-gray-dark: #37474F;

//interactions
@link: @brand-primary;
@link-hover: darken(@link, 10%);
@link-inverse: @brand-secondary;
@link-inverse-hover: darken(@link-inverse, 10%);
@transition: 0.2s linear;

//shadows
@shadow: 0 1px 1px rgba(0,0,0,.05);
@shadowStrong: 0 1px 2px rgba(0,0,0,.1);
